body{

  background-image: url("../img/Vulcano Night.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(55, 58, 58);
  max-width: 980px;
  margin: 0 auto;
}

p, li, button, input{

  font-family: 'VT323', monospace;
  font-size: 25px;

}


.instructions{

  width: 900px;
  /* height: 270px; */
  color: white;
  background-color: black;
  opacity: .8;
  margin: 0 auto;
  margin-top: 20px;
  border-style: inset;
  border-color: brown;
  border-width: 10px;
  padding: 10px;

}

.instructions p{

  font-size: 20px;


}

.upperSection{
  margin: 0 auto;
  display: flex;
  width: fit-content;

}

.statsStyle{
    width: 170px;
    height: 270px;
    color: white;
    background-color: black;
    opacity: .8;
    margin-top: 30px;
    margin-left: 30px;
    border-style: inset;
    border-color: brown;
    border-width: 10px;
    padding: 10px;
    /* display: flex; */

}


.imageDiv{

  border-width: 3px;
  width: 650px;
  height: 100px;
  
}

.dmBoxStyle{
    
  float: right;
  width: 650px;
  height: 270px;
  margin-top: 30px;
  margin-left: 30px;
  color: white;
  background-color: black;
  opacity: .8;
  border-style: inset;
  border-color: brown;
  border-width: 10px;
  padding: 10px;

}


.dmBoxStyle p{

  font-size: 20px;

}

.lowerSection{

  margin: 0 auto;
  display: flex;
  width: fit-content;

}

.diceBoxStyle{

  width: 290px;
  height: 55px;
  color: white;
  background-color: black;
  opacity: .8;
  margin-top: 20px;
  margin-left: 10px;
  border-style: inset;
  border-color: brown;
  border-width: 10px;
  padding: 10px;
  
}


button{
  border-style: solid;
  border-color: brown;
  border-width: 5px;
  width: 60px;

}


.userBoxStyle{

  width: 420px;
  height: 70px;
  margin-top: 20px;
  margin-left: 90px;
  color: white;
  background-color: black;
  opacity: .8;
  border-style: inset;
  border-color: brown;
  border-width: 10px;
  padding: 2px;

}

footer{

  margin: 0 auto;
  width: 300px;
  color: white;

}